<section class="container">
    <main #mainSection>
      <section class="form-block" id="signUpForm">
        <h2>Create Account</h2>
        <form [formGroup]="loginForm">
          <label for="user_name">Name</label>
          <input type="text" formControlName="userName" id="user_name" />
          <div class="text-danger" *ngIf="loginForm.get('userName')?.hasError('required') && loginForm.get('userName')?.touched">User name is required.</div>
  
          <label for="user_email_signup">Email</label>
          <input type="email" formControlName="email" id="user_email_signup" />
          <div class="text-danger" *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched">Email is required.</div>
  
          <label for="user_password_signup">Password</label>
          <input type="password" formControlName="password" id="user_password_signup" />
          <div class="text-danger" *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">Password is required.</div>
  
          <button type="submit" class="btn">Sign Up</button>
        </form>
      </section>
  
      <section class="form-block" id="signInForm">
        <h2>Login</h2>
        <form>
          <label for="user_email_signin">Email</label>
          <input type="email" id="user_email_signin" />
  
          <label for="user_password_signin">Password</label>
          <input type="password" id="user_password_signin" />
  
          <button type="submit" class="btn">Sign In</button>
        </form>
      </section>
    </main>
    <aside #asideSection>
      <section class="login-block">
        <h2>Already a User?</h2>
  
        <button type="submit" id="login-btn" (click)="onSignInClick()" class="btn">Sign In</button>
      </section>
      <section class="register-block">
        <h2>New User?</h2>
  
        <button type="submit" id="register-btn" (click)="onSignUpClick()" class="btn">Sign Up</button>
      </section>
    </aside>
  </section>